<%- include("../includes/header", {
    title: "New | Chat",
    styles: ["mainform.css"]
}) %>

<div>
  <h1>New Chat</h1>

  <form method="POST" enctype="application/json">
    <input type="text" name="name" placeholder="Name">
    <select name="users" multiple>
      <% for (const user in users) { %>
      <option value="<%= users[user] %>"><%= users[user] %></option>
      <% } %>
    </select>
    <input type="submit" value="Submit">
  </form>
</div>

<%- include("../includes/footer") %>
