<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>
    <% if (typeof title !== "undefined") { %>
    <%= title %> | SelfHosted Everything
    <% } else { %>
    SelfHosted Everything
    <% } %>
  </title>
  <link rel="shortcut icon" href="/assets/favicon.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/css/normalize.css">
  <link rel="stylesheet" href="/assets/css/global.css">
  <% for (const style of typeof styles !== "undefined" ? styles : []) { %>
  <link rel="stylesheet" href="/assets/css/<%= style %>">
  <% } %>
  <% if (typeof header !== "undefined") { %><%- header %><% } %>
</head>

<body>
<script>
  0
</script> <!-- This fixes FOUC on firefox -->

<header>
  <nav>
    <a rel="prefetch" tabindex="-1" href="/">Home</a>
    <a rel="prefetch" tabindex="-1" href="/files">Files</a>
    <a rel="prefetch" tabindex="-1" href="/notes">Notes</a>
    <a rel="prefetch" tabindex="-1" href="/login">Login</a>
  </nav>
</header>

<main>
