<%- include("includes/header", {
    title: "Login",
    styles: ["mainform.css"]
}) %>

<form method="POST">
  <h1>Login</h1>

  <% if (typeof error !== "undefined") { %>
  <p><%= error %></p>
  <% } %>
  <input type="text" name="username" placeholder="Username">
  <input type="submit" value="Submit">
  <a href="/register">Don't have an account? Register here.</a>

</form>

<%- include("includes/footer") %>
