<%- include("includes/header", {
    title: "Register",
    styles: ["mainform.css"]
}) %>

<form method="POST">
  <h1>Register</h1>

  <% if (typeof error !== "undefined") { %>
  <p><%= error %></p>
  <% } %>
  <input type="text" name="username" placeholder="Username">
  <input type="submit" value="Submit">

  <a href="/login">Already have an account? Login here.</a>
</form>

<%- include("includes/footer") %>
