<%- include("includes/header", {
    title: "Register",
    styles: ["mainform.css"]
}) %>

<div>
  <h1>Register</h1>

  <% if (typeof error !== "undefined") { %>
  <p><%= error %></p>
  <% } %>

  <form method="POST">
    <input type="text" name="username" placeholder="Username">
    <input type="submit" value="Submit">
  </form>

  <a href="/login">Already have an account? Login here.</a>
  </div>

<%- include("includes/footer") %>
