main {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

div.chat {
    margin: var(--s-large);
    display: grid;
    grid-template-rows: 2rem 1fr 2rem;
}

div.sender {
    display: flex;
    gap: var(--s-small);
}

div.sender input {
    flex-grow: 1;
}

ul#messages {
    padding: 0;
    list-style: none;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: var(--s-medium);

    align-items: end;
}

li.message {
    display: flex;
    flex-direction: column;
    gap: var(--s-small);
}

li.me {
    align-self: start;
}

li>p {
    margin: 0;
    width: fit-content;
    background: var(--c-primary-1);
    color: var(--c-background);
    padding: var(--s-small);
    border-radius: var(--s-small);
}

li.message>small {
    font-size: 1rem;
    color: var(--c-primary-2);
}

li.file>p::after {
    content: '📄';
}

li.file.me>p::after {
    content: '';
}

li.file.me>p::before {
    content: '📄';
}

li.file a {
    color: var(--c-background);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal:not(.open) {
    display: none;
}

.modal>div {
    background-color: var(--c-background);
    padding: var(--s-medium);
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--s-small);
}
