main {
    display: flex;
    align-items: center;
    justify-content: center;
}

div.content {
    width: calc(100% - 2 * var(--s-extra-large));
    height: calc(100% - 2 * var(--s-extra-large));
}
